<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO 
				MEMBER 
		VALUES (
				#{memberId},
				#{passwd},
				#{memberNm},
				#{sex},
				#{birthDt},
				#{hp},
				#{smsstsYn},
				#{email},
				#{emailstsYn},
				#{zipcode},
				#{roadAddress},
				#{jibunAddress},
				#{namujiAddress},
				#{exercise},
				NOW(),
				#{introduction},
				#{activeAccountYN}
		 )
	</insert>	
	

	<select id="selectOneloginMember" parameterType="String" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectOneDuplicatedMemberCheck" parameterType="String" resultType="MemberDTO"> 
		SELECT 
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectListMember" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
	</select>	
	
	<select id="selectClassIdMemberSchedules" resultType="String" parameterType="String">
		SELECT
				SELECTED_DATE_CLASS_MEMBER
		FROM
				CLASS_MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	
	</select>
	
    <select id="selectClassFindByDate" parameterType="string" resultType="ClassDTO">
        SELECT
        		*
        FROM 
        		CLASS
        WHERE 
        		SELECTED_DATE = #{selectedDate}
    </select>
    
   	<insert id="insertClassMember" parameterType="classMemberDTO">
		INSERT INTO 
				CLASS_MEMBER 
		VALUES (
				#{classMemberId},
				#{classId},
				#{memberId},
				#{selectedDateClassMember},
				NOW(),
				#{question}
		 )
	</insert>
	
	<select id="selectOneClassByDate" resultType="classDTO" parameterType="map">
	    SELECT
	        c.*
	    FROM
	        CLASS c
	    INNER JOIN
	        CLASS_MEMBER cm ON c.CLASS_ID = cm.CLASS_ID
	    WHERE
	        cm.MEMBER_ID = #{memberId} AND
	        cm.SELECTED_DATE_CLASS_MEMBER = #{selectedDate}
	</select>
	
	
    <delete id="deleteClassMember" parameterType="string">
        DELETE FROM 
        		CLASS_MEMBER
        WHERE 
        		CLASS_ID = #{classId}
    </delete>
    
    
    <select id="selectMyClasses" parameterType="string" resultType="ClassDTO">
	    SELECT
	        c.*
	    FROM
	        CLASS c
	    INNER JOIN
	        CLASS_MEMBER cm ON c.CLASS_ID = cm.CLASS_ID
	    WHERE
	        cm.MEMBER_ID = #{memberId}
    </select>    
	
<!-- 	<select id="searchTrainerIdByMemberId" resultType="String" parameterType="joinRequestDTO">
	
		SELECT 
				T.trainerId
		FROM 
				CLASS_MEMBER CM
		INNER JOIN 
				CLASS C ON CM.classId = C.classId
		INNER JOIN 
				TRAINER T ON C.trainerId = T.trainerId
		WHERE 
				CM.memberId = #{memberId}
	
	</select>
	
	
	
	<insert id="insertJoinRequest" parameterType="joinRequestDTO">
	
		INSERT INTO 
				JOIN_REQUEST
		VALUES (
		    #{classMemberId},
		    #{memberId},
		    #{trainerId},
		    #{selectedDateClassMember},
		    #{selectedDateClassMember},
		    ''
		)
	</insert> -->
	
	
</mapper>