<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage">
	
	
  	<select id="selectOneMyInfoMember" parameterType="String" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMyInfo" parameterType="MemberDTO">
		UPDATE 
	   			MEMBER
	   <set> 
	      <if test='memberNm != null and memberNm != ""'>
	        MEMBER_NM = #{memberNm},
	      </if>
	      <if test='passwd != null and passwd != ""'>
	        PASSWD = #{passwd},
	      </if>
	      <if test='sex != null and sex != ""'>
	        SEX = #{sex},
	      </if>
	      <if test='birthDt != null and birthDt != ""'>
	        BIRTH_DT = #{birthDt},
	      </if>
	      <if test='hp != null and hp != ""'>
	        HP = #{hp},
	      </if>
	      <if test='smsstsYn != null and smsstsYn != ""'>
	        SMSSTS_YN = #{smsstsYn},
	      </if>
	      <if test='email != null and email != ""'>
	        EMAIL = #{email},
	      </if>
	      <if test='emailstsYn != null and emailstsYn != ""'>
	        EMAILSTS_YN = #{emailstsYn},
	      </if>
	      <if test='zipcode != null and zipcode != ""'>
	        ZIPCODE = #{zipcode},
	      </if>
	      <if test='roadAddress != null and roadAddress != ""'>
	        ROAD_ADDRESS = #{roadAddress},
	      </if>
	      <if test='jibunAddress != null and jibunAddress != ""'>
	        JIBUN_ADDRESS = #{jibunAddress},
	      </if>
	      <if test='namujiAddress != null and namujiAddress != ""'>
	        NAMUJI_ADDRESS = #{namujiAddress},
	      </if>
	      <if test='exercise != null and exercise != ""'>
	        EXERCISE = #{exercise},
	      </if>
	      <if test='introduction != null and introduction != ""'>
	        INTRODUCTION = #{introduction},
	      </if>
	    </set>
		WHERE 
				MEMBER_ID = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>
	
</mapper>